<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container" style="margin-top:50px">
        <form method ="post" id="indexForm" data-courses-url="{% url 'ajax_load_courses' %}" novalidate>
            {% csrf_token %}
            <label>Department</label>
            <select name="department" id="department" class="form-control">
                <option value="">---Select Department ----</option>
                {% for i in program %}
                <option value="{{i.id}}">{{i.name}}</option>
                {% endfor %}
                <br>
                </select>
                <br>
                <label>Courses</label>
                <select name="Choose Course" id="courses" class="form-control">
                    

                </select>
                
                
                


        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>   
    <script>
        $("#department").change(function(){
            var url=$("#indexForm").attr("data-courses-url");
            var departmentId=$(this).val();
         $.ajax({
             url:url,
             data:{
                 'department':departmentId
             },
             success:function(data){
                 $("#courses").html(data);
             }
         }) 
        });
        
       </script>
</body>
</html>